# python
__pycache__/
*.py[oc]
/build/
/dist/
/wheels/
*.egg-info/

# virtual env
.venv/
venv/

# prototyping
/docs/

# env variables
.env
.env.*
!.env.example

# vscode pylance
.vscode/

# misc
.DS_Store
*.pem

# vercel
.vercel