<svg width="100%" viewBox="0 0 400 180" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <foreignObject width="100%" height="100%">
      <div xmlns="http://www.w3.org/1999/xhtml" class="container">
        <style>
          @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&amp;display=swap');
          {% include "base.css" %}

          /* Win98 Player Container */
          .player {
            position: relative;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 12px;
            padding: 1px;
            width: 400px;
            height: 180px;
            color: #000000;
            background: #C0C0C0;
            border: 2px solid;
            border-color: #DFDFDF #000000 #000000 #DFDFDF;
          }
          
          /* Title Bar */
          .titlebar {
            height: 18px;
            line-height: 18px;
            background: linear-gradient(to right, navy, rgb(16, 132, 208));
            display: flex;
            justify-content: space-between;
            vertical-align: middle;
          }
          
          .title {
            padding-left: 4px;
            font-weight: bold;
            color: white;
            display: flex;
            align-items: center;
          }
          
          .title-icon {
            margin-right: 4px;
            font-size: 14px;
          }
          
          .window-controls {
            display: flex;
            margin-right: 2px;
          }
          
          .minimize, .maximize, .close {
            display: inline-block;
            width: 16px;
            height: 14px;
            margin: 2px 1px;
            background: #C0C0C0;
            border: 1px solid;
            border-color: #FFFFFF #808080 #808080 #FFFFFF;
            text-align: center;
            line-height: 12px;
          }
          
          .close {
            font-weight: bold;
          }
          
          /* Menu */
          .menu {
            display: flex;
            border-bottom: 1px solid #808080;
          }
          
          .menu-item {
            padding: 2px 8px;
          }
          
          .menu-item u {
            text-decoration: underline;
          }
          
          /* Main Content */
          .main-content {
            display: flex;
            padding: 8px;
            height: 130px;
          }
          
          /* Album Art */
          .album-container {
            width: 110px;
            height: 110px;
            margin-right: 15px;
            border: 1px solid #000;
            background: #000;
            flex-shrink: 0;
          }
          
          .cover {
            width: 110px;
            height: 110px;
            object-fit: cover;
          }
          
          /* Track Info and Controls */
          .info-controls {
            flex: 1;
            display: flex;
            flex-direction: column;
          }
          
          /* Info Fields */
          .input-fields {
            margin-bottom: 15px;
          }
          
          .field {
            display: flex;
            margin-bottom: 8px;
            align-items: center;
          }
          
          .field-label {
            width: 50px;
            text-align: right;
            margin-right: 5px;
          }
          
          .field-input {
            flex: 1;
            height: 20px;
            background: white;
            border: 2px solid;
            border-color: #808080 #FFFFFF #FFFFFF #808080;
            padding: 1px 3px;
            max-width: 190px;
            display: flex;
            align-items: center;
            --marquee-distance: min(0px, calc(-100% + 190px));
          }
          
          /* Buttons container */
          .button-row {
            display: flex;
            justify-content: center;
            gap: 2px;
          }
          
          .control-button {
            width: 60px;
            height: 30px;
            margin-top: 10px;
            background: #C0C0C0;
            border: 2px solid;
            border-color: #FFFFFF #000000 #000000 #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          .button-icon {
            width: 15px;
            height: 15px;
          }
        </style>
        
        <a href="https://open.spotify.com/track/{{ track_id }}" target="_blank">
          <div class="player">
            <!-- Title bar -->
            <div class="titlebar">
              <div class="title">
                <span class="title-icon">💿</span>
                <span>Now Playing...</span>
              </div>
              <div class="window-controls">
                <div class="minimize">_</div>
                <div class="maximize">□</div>
                <div class="close">×</div>
              </div>
            </div>
            
            <!-- Menu bar -->
            <div class="menu">
              <div class="menu-item"><u>D</u>isc</div>
              <div class="menu-item"><u>V</u>iew</div>
              <div class="menu-item"><u>O</u>ptions</div>
              <div class="menu-item"><u>H</u>elp</div>
            </div>
            
            <!-- Main content -->
            <div class="main-content">
              <!-- Album artwork -->
              <div class="album-container">
                <img class="cover" src="data:image/png;base64,{{ base_64_track_image }}" alt="{{ track_name }} by {{ track_artist }}" />
              </div>
              
              <!-- Info and Controls -->
              <div class="info-controls">
                <div class="input-fields">
                  <div class="field">
                    <div class="field-label">Artist:</div>
                    <div class="field-input marquee-wrapper">
                      <span class="marquee">{{ track_artist }}</span>
                    </div>
                  </div>

                  <div class="field">
                    <div class="field-label">Title:</div>
                    <div class="field-input marquee-wrapper">
                      <span class="marquee">{{ track_name }}</span>
                    </div>
                  </div>
                </div>
                
                <!-- Playback controls -->
                <div class="button-row">
                  <div class="control-button prev">
                    <svg class="button-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000" role="img" aria-label="Previous"><path d="M6 6h2v12H6V6zm3.5 6l8.5 6V6l-8.5 6z" /></svg>
                  </div>
                  
                  <div class="control-button play">
                    <svg class="button-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000" role="img" aria-label="Play"><path d="M8 5v14l11-7L8 5z" /></svg>
                  </div>
                  
                  <div class="control-button pause">
                    <svg class="button-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000" role="img" aria-label="Pause"><path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z" /></svg>
                  </div>
                  
                  <div class="control-button next">
                    <svg class="button-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000" role="img" aria-label="Next"><path d="M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z" /></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </foreignObject>
  </svg>